<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title%></title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <style>
    .avator{
      width:30px;
      height:30px;
      border-radius:50%;
    }
    .navbar-brand,.navbar-nav > li > a{
      line-height:30px;
    }
  </style>
</head>

<body>
  <%- include ./nav.html%>
  <div class="container">
    <% if(success){ %>
      <div class="alert alert-success"><%= success%></div>
    <% } %>
    <% if(error){ %>
      <div class="alert alert-danger"><%= error%></div>
    <% } %>
  