<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>博客</title>
  <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/lib/style/style.css">
</head>

<body>
  <%- include ./nav.html%>
  <div class="container-fluid">
    <% if(success){ %>
    <div class="alert alert-success"><%= success%></div>
    <% } %>
    <% if(error){ %>
    <div class="alert alert-danger"><%= error%></div>
    <% } %>